html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background: #343d46;
  margin: 0 auto;
  overflow: hidden;
}

body h1 {
  display: none;
}

.inputBegin {
 position: absolute;
 top: 35vh;
 left: 10%;
}

.input {
  display: block;
  width: 80%;
  height: 7vh;
  margin: 0 auto;
  margin-top: 5vh;
}

input:-moz-placeholder {
  font-size: 1.4rem;
  color: black;
}

input::-webkit-input-placeholder {
  font-size: 1.4rem;
  color: black;
}

.carousel {
  position: relative;
  width: 100vw;
  height: 80vh;
  padding: 0;
  margin: 0 auto;
  margin-top: 5vh;
  box-sizing: border-box;
}

.carousel > div {
  position: relative;
  display: block;
}

.galery {
  position: relative;
  box-sizing: border-box;
  width:  90vw;
  height: 70vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

.galery .images {
  position: relative;
  box-sizing: border-box;
  height: inherit;
  width: 99999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
}

.galery .images > div {
  box-sizing: border-box;
  height: 70vh;
  padding: 0;
  background: #ffffff;
  display: inline-block;
}

.slide img {
  display: block;
  width: inherit;
  height: 30vh;
  margin: 0;
}

.videoName {
  box-sizing: border-box;
  position: absolute;
  background: #106544;
  top: 10vh;
  margin: 0 auto;
  width: inherit;
  min-height: 10vh;
  opacity: 0.8;
  z-index: 5;
}

.videoName a {
  display: block;
  height: inherit;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: bolder;
  color: #ffffff;
  width: inherit;
  text-align: center;
}

.author,
.date,
.views,
.description {
  width: inherit;
  height: 6vh;
  box-sizing: border-box;
  position: absolute;
  margin: 0;
}

.author {
  top: 31vh;
  overflow: auto;
}

.date {
  top: 38vh;
}

.views {
  top: 45vh;
}

.description {
  top: 52vh;
  height: 17vh;
  overflow: auto;
}

.author i,
.date i,
.views i {
  width: 20%;
  height: inherit;
  display: block;
  box-sizing: border-box;
  float: left;
  font-size: 1.5rem;
  color: #6f6c6d;
  text-align: right;
  margin: 0;
  padding-top: 3%;
}

.author p,
.date p,
.views p,
.description p {
  height: inherit;
  box-sizing: border-box;
  float: right;
  font-size: 1.3rem;
  font-weight: bolder;
  color: black;
  width: 80%;
  margin: 0;
  padding: 3% 0 0 0;
  text-align: center;
}

.description p {
  width: 100%;
  padding: 0 3% 0 3%;
  font-weight: normal;
}

.radioContainer {
  position: absolute;
  box-sizing: border-box;
  left: 46vw;
  width: 20vw;
  margin-top: 2vh;
}

.radioContainer input {
  display: none;
}

.radioContainer label {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  font-size: 0;
}

/* .radioContainer label:before { */
  input[type="radio"] + label::before {
  content: attr(data-title);
  position: absolute;
  width: 1.2vw;
  height: 1.2vw;
  border: 1px solid #CDD1DA;
  border-radius: 100%;
  color: #ffffff;
  text-align: center;
} 

.radioContainer label:hover:before {
  background: green;
}

input[type="radio"] + label::before {
background-color: #050e16;
}

input[type="radio"]:checked + label::before {
  background-color: rgba(155, 9, 69, 0.867);
}

.error {
  position: fixed;
  width: 50vw;
  height: 10vh;
  font-size: 1.5rem;
  font-weight: bold;
  color: #e24862;
  text-align: center;
  top: 15vh;
  left: 10vw;
  background-color: black;
}
